# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# IDE files
.idea/

# Bytecode files
*.pyc
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Other files to ignore
.DS_Store  # macOS
Thumbs.db  # Windows
